@charset "UTF-8";

@media only screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to top, var(--cor2), var(--cor1));
        background-size: cover;
    }
    #imagem {
        float: left;
        width: 30%;
        height: 100%;

    }

    #formulario{
        float: right;
        width: 70%;
    }
}

@media only screen and (min-width: 992px) {
    #login {
        width: 950px;
    }
    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario{
        float: left;
        width: 50%;
    }
}